# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# Input variables
*.pkrvars.hcl
*.auto.pkrvars.hcl

# Environment variables
*.env

# Ignore temp certificates
*.pem

# Ignore all temporary files
/tmp
